<?xml version="1.0"?>
<launch>
    <!-- UWSim SITL environment launch script -->
    <!-- launches PX4 SITL, UWSim, and spawns vehicle -->
    <!-- vehicle initial pose -->
    <arg name="x" default="0"/>
    <arg name="y" default="0"/>
    <arg name="z" default="0"/>
    <arg name="R" default="0"/>
    <arg name="P" default="0"/>
    <arg name="Y" default="0"/>

    <!-- vehicle model -->
    <arg name="est" default="ekf2"/>
    <arg name="vehicle" default="dolphin"/>
    <arg name="rcS" default="$(find px4)/posix-configs/SITL/init/$(arg est)/$(arg vehicle)"/>

    <!-- PX4 SITL -->
    <node name="sitl" pkg="px4" type="px4" output="screen" args="$(find px4) $(arg rcS)"/>

    <!-- UWSim -->

</launch>
